<h1>List of All Messages</h1>

<ul class="mt-5">
  <%= render @messages %>
</ul>
<%= form_for :message, url: messages_path, html: { class: "w-50 mt-4" } do |form| %>
  <div class="form-group">
    <%= form.text_field :content, placeholder: "Enter your message...", required: true, class: "form-control" %>
  </div>

  <%= form.submit "Send!", class: "btn btn-primary" %>
<% end %>

 
